.DS_Store
.env
.flaskvenv
*.pyc
*.pyo
env/
env*
venv/
venv*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
trash/
flaskvenv/
sigsa/
.sigsa

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover